.jumbotron {
    background-image: url('images/bc.jpeg') !important;
    padding: 1rem 2rem!important;
}

.jumbotron-fluid {
    text-align: center;
    color: rgb(58, 92, 155);
    font-weight: 600!important;
    height: 230px;
}

.display-3 {
    font-family: 'VT323', monospace;
    font-weight: 600!important;
    text-shadow:
    -.2px -.2px 0 #fff,
    .2px -.2px 0 #ffffff,
    -.2px .2px 0 #ffffff,
    .2px .2px 0 #ffffff;  
}

.lead {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.25rem!important;
    font-weight: 400!important;
    text-shadow:
    -.5px -.5px 0 #fff,
    .5px -.5px 0 #ffffff,
    -.5px .5px 0 #ffffff,
    .5px .5px 0 #ffffff;   
}

p{
    margin-top: -.7%!important;
}


/* phones */
@media only screen and (max-width: 600px) {
    .jumbotron
    
    .display-3 {
        font-size: 2rem!important;
        font-weight: 400!important;
    }
    .lead {
        font-size: 1rem!important;  
        font-weight: 400!important; 
    }
}